<div class="cocktail">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
  <%= @cocktail.image_url%>)">
    Add a ingredient to <%= @ingredient.name %>
  </div>
</div>

<div class="container">
  <div class="card mt-3">
    <div class="card-body">
    <%= simple_form_for [@cocktail, @ingredient] do |f| %>
      <%= f.input :name %>
      <%= f.input :doses %>

      <%= link_to 'Cancel', garden_path(@garden), class:'btn btn-link' %>
      <%= f.submit class:'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>
